pkgbase = spirv-cross
	pkgdesc = A tool and library for parsing and converting SPIR-V to other shader languages
	pkgver = 1.3.216.0
	pkgrel = 1
	url = https://github.com/KhronosGroup/SPIRV-Cross/
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = cmake
	makedepends = python
	makedepends = python-nose
	depends = gcc-libs
	source = SPIRV-Cross-1.3.216.0.tar.gz::https://github.com/KhronosGroup/SPIRV-Cross/archive/refs/tags/sdk-1.3.216.0.tar.gz
	sha512sums = 746bc4560c02d2658b4b9c2ed589e028fcd5708030a751343906076825bda0ae6547aa54c3f0128bbc00198c0c2d5dbc22409eeb0e99bf623696e2771c0cf158

pkgname = spirv-cross
